GITHUB_ID=your_github_id
GITHUB_SECRET=your_github_secret
MONGODB_URI=your_mongodb_uri
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL="http://localhost:3000" OR SOMETHING
NEXT_PUBLIC_URL="http://localhost:3000"

